# Executables
*.exe
*.out
*.app

# Doxygen
doc/

# Directories
.vscode/
bin/
build/
output/
tests/test_set_2/

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

